#directories
.git/
gradle/
.gradle/
.idea/
SushiSleepLaboratory/build/
#SushiSleepLaboratory/libs/
#SushiSleepLaboratory/src/main/res/drawable-*/

#files patterns
#*.png
*.xcf
*.gradle
*.iml
*.zip

#specific files
local.properties
gradlew*